@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "shabnam-Bold";
  src: url("../assets/fonts/shabnam/Shabnam-Bold.ttf");
}
@font-face {
  font-family: "shabnam";
  src: url("../assets/fonts/shabnam/Shabnam.ttf");
}
@font-face {
  font-family: "shabnam-light";
  src: url("../assets/fonts/shabnam/Shabnam-Light.ttf");
}
@font-face {
  font-family: "shabnam-medium";
  src: url("../assets/fonts/shabnam/Shabnam-Medium.ttf");
}
@font-face {
  font-family: "shabnam-thin";
  src: url("../assets/fonts/shabnam/Shabnam-Thin.ttf");
}
.main{
  direction: rtl;
}
